﻿@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
@inject SignInManager<IdentityUser> SignInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>

    <header class="">
        <nav class="navbar bg-light navbar-expand-md">
            <div class="container">
                <div class="text-left">
                    <a class="btn" asp-controller="Home" asp-action="Index">
                        <img src="~/images/wizOnLogo.png" alt="" width="150" height="68" title="wizOnLogo" />
                    </a>
                </div>
                <div class="justify-content-center d-none d-sm-inline">
                    <a asp-controller="Usluga" asp-action="Create" class="btn border-primary text-primary">
                        <img src="~/icons/circle_plus.png" alt="" width="24" height="24" title="plus" />
                        Dodaj usługę
                    </a>
                </div>

                @if (SignInManager.IsSignedIn(User))
                {
                <div class="dropdown">
                    
                    <button class="btn border-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="~/icons/user.png" alt="" width="24" height="24" title="user" />
                        @User.Identity.Name
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-controller="Usluga" asp-action="AdminZgoszoneUslugi" class="dropdown-item">
                                <img src="~/icons/eject.png" alt="" width="24" height="24" title="admin" />
                                Zgłoszenia
                            </a>
                        }
                        <a asp-controller="Usluga" asp-action="Create" class="dropdown-item">
                            <img src="~/icons/circle_plus.png" alt="" width="24" height="24" title="plus" />
                            Dodaj usługę
                        </a>
                        <a asp-controller="Usluga" asp-action="Index" class="dropdown-item">
                            <img src="~/icons/book_2.png" alt="" width="24" height="24" title="book" />
                            Moje usługi
                        </a>
                        <a asp-controller="Account" asp-action="ChangePassword" class="dropdown-item">
                            <img src="~/icons/cog.png" alt="" width="24" height="24" title="plus" />
                            Ustawienia
                        </a>
                        <div class="dropdown-divider"></div>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post" class="navbar-right">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                        <img src="~/icons/logout.png" alt="" width="24" height="24" title="logout" />
                                        Wyloguj
                                    </a>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                }
                else
                {
                    <div>
                        <button class="navbar-toggler text-dark" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false">
                            <img src="~/icons/list.png" alt="" width="32" height="32" title="logout" />
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="mainmenu">
                        <ul class="navbar-nav text-right">
                            <li>
                                <a id="loginLink" class="btn" asp-controller="Account" asp-action="Login">Zaloguj</a>
                            </li>
                            <li>
                                <a id="registerLink" class="btn" asp-controller="Account" asp-action="Register">Załóż konto</a>
                            </li>
                        </ul>
                    </div>
                }

            </div>
        </nav>
    </header>
    <div class=" bg-dark navbar-expand-sm shadow p-3 mb-3">
        <div class="container">
            <form asp-controller="Home" asp-action="Index" method="post">
                <div class="form-row">
                    <div class="col-4">
                        <input class="form-control" type="text" placeholder="Szukaj..." name="fraza" />
                    </div>

                    <div class="col-3">
                        <select class="form-control" name="Powiat">
                            <option value="">Powiat</option>
                            <option value="Opole">Opole</option>
                            <option value="Namysłów">Namysłów</option>
                            <option value="Kluczbork">Kluczbork</option>
                            <option value="Olesno">Olesno</option>
                            <option value="Brzeg">Brzeg</option>
                            <option value="Strzelce Opolskie">Strzelce Opolskie</option>
                            <option value="Nysa">Nysa</option>
                            <option value="Prudnik">Prudnik</option>
                            <option value="Krapkowice">Krapkowice</option>
                            <option value="Kędzierzyn-Koźle">Kędzierzyn-Koźle</option>
                            <option value="Głubczyce">Głubczyce</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <select class="form-control" name="Kategoria">
                            <option value="">Kategoria</option>
                            <option value="Budowa domu">Budowa domu</option>
                            <option value="Remont">Remont</option>
                            <option value="Elektryk">Elektryk</option>
                            <option value="Hydraulik">Hydraulik</option>
                            <option value="Ogród">Ogród</option>
                            <option value="Motoryzacja">Motoryzacja</option>
                            <option value="Stolarstwo">Stolarstwo</option>
                            <option value="Ślusarstwo">Ślusarstwo</option>
                            <option value="Transport">Transport</option>
                            <option value="Sprzątanie">Sprzątanie</option>
                            <option value="Imprezy">Imprezy</option>
                            <option value="Pozostałe">Pozostałe</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button class= "col-12 btn btn-success form-contol border-light">
                            <img src="~/icons/magnifying_glass.png" alt="" width="20" height="20" title="szukaj" />
                            <div class="d-none d-md-inline">Szukaj</div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <footer class="position-absolute col-12 mt-5 p-2 text-center bg-dark ">
        <span class="text-light">Wizytówka Online 2019 | Andrzej Lepiorz</span>
    </footer>

    <script src="~/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>-->
</body>
</html>
