﻿@model Opinia
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager

<div class="container bg-light rounded-lg col-6 p-3 mt-5 shadow text-center">
    <form asp-action="Index" method="post" role="form">

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="form-group">
                <h4 class="col-md-12">Witaj @User.Identity.Name! Napisz swoją opinię poniżej:</h4>
                <div>
                    <input asp-for="NazwaUzytkownika" type="hidden" class="form-control" value="@User.Identity.Name" />
                </div>
            </div>
        }
        else
        {
            <div class="mb-3">
                <div class="input-group col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Nazwa użytkownika</div>
                    </div>
                    <input asp-for="NazwaUzytkownika" class="form-control" placeholder="Nazwa użytkownika" />
                </div>
                <span asp-validation-for="NazwaUzytkownika" class="text-danger"></span>
            </div>
        }

        @if (SignInManager.IsSignedIn(User))
        {
            <input asp-for="Email" type="hidden" value="@User.Identity.Name" />
        }
        else
        {
            <div class="mb-3">
                <div class="input-group col-12">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Email</div>
                    </div>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

        }


        <div class="form-group">
            <div class="col-12">
                <textarea asp-for="Wiadomosc" class="form-control" placeholder="Wiadomość..."></textarea>
                <span asp-validation-for="Wiadomosc" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="IdUslugi" value="@ViewData["IdUslugi"]" />
        <div class="form-group">
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Wyślij Opinie" />
            </div>
        </div>

    </form>
</div>
