﻿@model Opinia

<div class="container bg-light col-6 text-center mt-5 rounded shadow p-4">
    <div class="dropdown-divider"></div>
    <div>
        <h4>Czy na pewno chcesz usunąć opinię?</h4>
        <form asp-action="UsunOpinie">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Tak" class="btn btn-success mt-2" />
            <a asp-controller="Home" asp-action="Szczegoly" asp-route-id="@Model.IdUslugi" class="btn btn-success mt-2">Nie</a>
        </form>
    </div>
</div>