﻿@model IEnumerable<WizytowkaOnline.Models.Usluga>

    @foreach (var usluga in Model)
    {
<div class=" col-lg-8 col-md-12 container uslugi bg-light rounded shadow p-1 ">
    <div class="form-row">
        <div class="pl-1">
            @if (usluga.ZdjecieUrl == null)
            {
                <a asp-controller="Home" asp-action="Szczegoly" asp-route-id="@usluga.Id">
                    <img class="img-thumbnail" style="width: 140px; height: 140px;" src="~/images/brakZdjecia.jpg" alt="" />
                </a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Szczegoly" asp-route-id="@usluga.Id">
                    <img class="img-thumbnail" style="width: 140px; height: 140px;" src="@usluga.ZdjecieUrl" alt="" />
                </a>
            }
        </div>
        <div class="figure-caption ml-3 mt-3">
            <h4>
                <a asp-controller="Home" asp-action="Szczegoly" asp-route-id="@usluga.Id">@usluga.NazwaUslugi</a>
            </h4>
            <div class="dropdown-divider"></div>
            <p>
                Kategoria: @usluga.Kategoria
            </p>
            <div class="form-row">
                @if (usluga.Miejscowosc != null)
                {
                <p>
                    <img src="~/icons/pin_1.png" alt="" width="18" height="18" title="pin" class="" />
                    @usluga.Powiat, @usluga.Miejscowosc
                </p>
                }
                else
                {
                <p>
                    <img src="~/icons/pin_1.png" alt="" width="18" height="18" title="pin" class="" />
                    @usluga.Powiat
                </p>
                }
                    <p class="ml-3">
                        <img src="~/icons/calendar.png" alt="" width="18" height="18" title="calendar" class="" />
                        @usluga.DataDodaniaUslugi
                    </p>
            </div>

        </div>
    </div>
</div>
    }
