﻿@model dynamic

<div class="container form-row text-light shadow-lg rounded-lg mt-3 bg-dark" >
    <div class="col-5 text-center p-5 align-middle">
        <h1>
            @if (Model.Uslugi.ZdjecieUrl == null)
            {
                <img class="img-fluid" style="width: 250px; height: 250px;" src="~/images/brakZdjecia.jpg" alt="LOGO" />
            }
            else
            {
                <img class="img-fluid" style="width: 250px; height: 250px;" src="@Model.Uslugi.ZdjecieUrl" alt="LOGO" />
            }
        </h1>
    </div>
    <div class="col-7 text-left pl-5 mt-5 mb-5 border-left">
        <h3 style="color: #01FDF6;">
            @Model.Uslugi.NazwaUslugi
        </h3>
        <h5 class="mb-4" style="color: #01FDF6;">
            @Model.Uslugi.Imie @Model.Uslugi.Nazwisko
        </h5>
        <h4>
            <img src="~/icons/pin_1.png" alt="" width="24" height="24" title="house" class="mr-2" />
            @Model.Uslugi.Miejscowosc
        </h4>
        <h4>
            <img src="~/icons/iphone.png" alt="" width="24" height="24" title="Phone" class="mr-2" />
            tel. @Model.Uslugi.nrTelefonu
        </h4>
        <h4>
            <img src="~/icons/mail.png" alt="" width="24" height="24" title="mail" class="mr-2" />
            email: @Model.Uslugi.email
        </h4>
        <h4>
            <img src="~/icons/browser.png" alt="" width="24" height="24" title="browser" class="mr-2" />
            @Model.Uslugi.stronaInternetowa
        </h4>
    </div>
</div>

<div class="container mt-3">
    <h4>
        Opis:
    </h4>
    <div class="container bg-light shadow p-2 rounded">
        @if (Model.Uslugi.Opis == null)
        {
            <span>Brak opisu...</span>
        }
        else
        {
            <span>@Model.Uslugi.Opis</span>
        }
    </div>
    <div class="text-right mt-1">
        <h3>
            <a asp-action="Index" class="btn btn-success">Powrót</a>
            <a asp-controller="Usluga" asp-action="Zglos" asp-route-id="@Model.Uslugi.Id" class="btn btn-warning">Zgłoś usługę</a>
            @if (User.IsInRole("admin"))
            {
                <a asp-controller="Usluga" asp-action="Delete" asp-route-id="@Model.Uslugi.Id" class="btn btn-danger">Usuń usługę</a>
            }
        </h3>
    </div>
</div>

<div class="container mt-5">
    <a class="btn btn-success border-light" asp-controller="Opinia" asp-action="Index" asp-route-id="@Model.Uslugi.Id">
        <img src="~/icons/pen_1.png" alt="" width="24" height="24" title="user" />
        Dodaj Opinię
    </a>
</div>

<div class="mt-3 container">
    @foreach (var opinia in Model.Opinie)
    {
        <div class="mb-3 col-8 bg-light rounded-lg shadow pt-1">
            <div class="bg-info rounded-lg p-1">
                <h5 class="mb-0">
                    <img src="~/icons/user.png" alt="" width="16" height="16" title="user" />
                    @opinia.NazwaUzytkownika
                    <small class="float-right">
                        @opinia.DataDodaniaOpini
                        <img src="~/icons/calendar.png" alt="" width="16" height="16" title="calendar" />
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-controller="Opinia" asp-action="UsunOpinie" asp-route-id="@opinia.Id" class="text-danger">Usuń</a>
                        }
                    </small>
                </h5>
            </div>
            <div class="pb-2 pt-2">
                <span>@opinia.Wiadomosc</span>
            </div>
        </div>
    }
</div>