﻿body {
    background-image: url('/images/pattern.png');
    background-repeat: repeat;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

.uslugi {
    margin-bottom: 10px;
}

header{
    margin: 0;
}