﻿@model ChangePasswordVM

<div class="container bg-light rounded-lg col-6 p-3 mt-5 shadow">
    <h3 class="text-center">Zmiana hasła</h3>
    <form asp-action="ChangePassword" asp-controller="Account" method="post" class="form-horizontal" role="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-12">
                <input placeholder="Stare hasło" asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input placeholder="Nowe hasło" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input placeholder="Potwierdź nowe hasło" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" class="btn btn-primary font-weight-bold" value="Zmień hasło" />
            </div>
        </div>
    </form>
</div>