﻿@model LoginVM

<div class="container bg-light rounded-lg col-6 p-3 mt-5 shadow">
    <h3 class="text-center">Zaloguj się</h3>
    <form asp-action="Login" asp-controller="Account" method="post" role="form">
        <div class="form-group justify-content-center">

            <div class="col-md-12">
                <input placeholder="Nazwa użytkownika" asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input placeholder="Hasło" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group text-center">
            <div class="col-md-12">
                <input type="submit" class="btn btn-primary font-weight-bold" value="Zaloguj" />
            </div>
        </div>
    </form>
    <div class="dropdown-divider"></div>
    <div class="container text-center text-dark">
        <span>
            Nie posiadasz jeszcze konta?
            <a asp-action="Register" asp-controller="Account">Załóż teraz!</a>
        </span>
    </div>
</div>
