﻿@model IEnumerable<ZgloszonaUsluga>

<table class="table bg-light mt-5">
    <thead>
        <tr>
            <th>Numer zgłoszenia</th>
            <th>Zobacz usługę</th>
            <th>Data zgłoszenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    <a asp-controller="Home" asp-action="Szczegoly" asp-route-id="@item.IdUslugi" class="btn btn-info btn-sm">Szczegóły</a>
                </td>
                <td>@item.dataZgloszenia</td>
            </tr>
        }
    </tbody>
</table>