﻿@model Usluga

<div class="container bg-light col-6 text-center mt-5 rounded shadow p-4">
    <h2>@Model.NazwaUslugi</h2>
    <div class="dropdown-divider"></div>
    <div>
        <h4>Czy na pewno chcesz usunąć usługę?</h4>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ZdjecieUrl" />
            <input type="submit" value="Tak" class="btn btn-success mt-2" />
            <a asp-action="Index" class="btn btn-success mt-2">Nie</a>
        </form>
    </div>
</div>