﻿@model Usluga

<div class="container bg-light rounded-lg col-6 p-3 mt-5 shadow">
    <h3 class="text-center">Edytuj usługę</h3>
    <div class="dropdown-divider"></div>
    <div class="text-center">
        <form method="post" enctype="multipart/form-data" asp-action="UploadFile">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                @if (ViewBag.ImgPath == null)
                {
                    <img src="~/images/brakZdjecia.jpg" height="200" width="200" />
                }
                else
                {
                    <img src="@ViewBag.ImgPath" height="200" width="200" />
                }
                <br /> <input type="file" name="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Załaduj zdjęcie" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="dropdown-divider"></div>
    <form asp-action="Edit">
        <div class="form-group">
            <label asp-for="NazwaUslugi">Nazwa usługi:</label>
            <input placeholder="Nazwa usługi" asp-for="NazwaUslugi" class="form-control" />
            <span asp-validation-for="NazwaUslugi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Imie">Imię:</label>
            <input placeholder="Imię" asp-for="Imie" class="form-control" />
            <span asp-validation-for="Imie" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nazwisko">Nazwisko:</label>
            <input placeholder="Nazwisko" asp-for="Nazwisko" class="form-control" />
            <span asp-validation-for="Nazwisko" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Kategoria">Kategoria:</label>
            <select class="form-control" asp-for="Kategoria">
                <option value="">Kategoria</option>
                <option value="Budowa domu">Budowa domu</option>
                <option value="Remont">Remont</option>
                <option value="Elektryk">Elektryk</option>
                <option value="Hydraulik">Hydraulik</option>
                <option value="Ogród">Ogród</option>
                <option value="Motoryzacja">Motoryzacja</option>
                <option value="Stolarstwo">Stolarstwo</option>
                <option value="Ślusarstwo">Ślusarstwo</option>
                <option value="Transport">Transport</option>
                <option value="Sprzątanie">Sprzątanie</option>
                <option value="Imprezy">Imprezy</option>
                <option value="Pozostałe">Pozostałe</option>
            </select>
            <span asp-validation-for="Kategoria" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Powiat">Powiat:</label>
            <select class="form-control" asp-for="Powiat">
                <option value="">Powiat</option>
                <option value="Opole">Opole</option>
                <option value="Namysłów">Namysłów</option>
                <option value="Kluczbork">Kluczbork</option>
                <option value="Olesno">Olesno</option>
                <option value="Brzeg">Brzeg</option>
                <option value="Strzelce Opolskie">Strzelce Opolskie</option>
                <option value="Nysa">Nysa</option>
                <option value="Prudnik">Prudnik</option>
                <option value="Krapkowice">Krapkowice</option>
                <option value="Kędzierzyn-Koźle">Kędzierzyn-Koźle</option>
                <option value="Głubczyce">Głubczyce</option>
            </select>
            <span asp-validation-for="Powiat" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Miejscowosc">Miejscowość:</label>
            <input placeholder="Miejscowość" asp-for="Miejscowosc" class="form-control" />
            <span asp-validation-for="Miejscowosc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="email">Email:</label>
            <input placeholder="Email" type="email" asp-for="email" class="form-control" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="nrTelefonu">Numer telefonu:</label>
            <input placeholder="Numer telefonu" asp-for="nrTelefonu" class="form-control" />
            <span asp-validation-for="nrTelefonu" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="stronaInternetowa">Strona internetowa:</label>
            <input placeholder="Strona www" asp-for="stronaInternetowa" class="form-control" />
            <span asp-validation-for="stronaInternetowa" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Opis">Opis:</label>
            <textarea placeholder="Opis" asp-for="Opis" class="form-control"></textarea>
            <span asp-validation-for="Opis" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="ZdjecieUrl" value="@ViewBag.ImgPath" />
        <div class="dropdown-divider"></div>
        <div class="form-group">
            <input type="submit" value="Zapisz" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-success float-right">Powrót</a>
        </div>
    </form>
</div>
