﻿@model  IEnumerable<Usluga>

<table class="table bg-light mt-5">
    <thead>
        <tr>
            <th>Nazwa Usługi</th>
            <th>
                <a asp-action="Create" class="btn btn-success btn-sm">Dodaj Usługę</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NazwaUslugi)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Szczegóły</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
