﻿@model Usluga

<div class="container bg-light col-6 text-center mt-5 rounded shadow p-4">
    <div>
        <h4>Czy na pewno chcesz zgłosić usługę?</h4>
        <div class="dropdown-divider"></div>
        <form asp-action="Zglos">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Tak" class="btn btn-success mt-2" />
            <a asp-controller="Home" asp-action="Szczegoly" asp-route-id="@Model.Id" class="btn btn-success mt-2">Nie</a>
        </form>
    </div>
</div>